body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main_navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: ffffff;
}

.main_navigation_list {
  list-style: none;
}

.main_navigation_list a {
  color: #000000;
}

.main_navigation_selected a {
  color: #766357;
}

.main_navigation_list a:hover,
.main_navigation_list a:focus {
  color: #8bb9d5;
}

.main_navigation_selected a:hover,
.main_navigation_selected a:focus {
  color: #766357;
}

.main_navigation_list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main_heading_index {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.entry {
  line-height: 26px;
  text-align: center;

  background-color: #81b3d2;
  background-image: url("../img/polygon.svg"),
                    url("../img/background_index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.entry p {
  font-size: 14px;
}

.advantages_housing_list,
.advantages_tourism_list {
  list-style: none;
}

.advantages_housing_item,
.advantages_tourism_item {
  text-align: center;
}

.advantages_housing_item h3,
.advantages_housing_item b,
.advantages_tourism_item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.advantages_tourism_item.gray {
  background-color: #eeeeee;
}

.hotel_search_preview {
  text-align: center;
}

.hotel_search_preview b {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel_search_preview p {
  font-size: 14px;
  line-height: 24px;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #eeeeee;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.main_footer {
  line-height: 26px;
  color: #000000;
  background-color: #f9fbf6;
}

.hashtag {
  font-size: 21px;
  font-weight: 700;
}

.social_networks_list {
  text-align: center;
  list-style: none;
}

.footer-copyright span {
  font-size: 14px;
}

.modal_search {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.modal_search input {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.modal_search input:hover {
  background-color: #ebebeb;
}

.modal_search input:focus {
  background-color: #ffffff;
}

.hotel_search {
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  background-color: #81b3d2;
}

.hotel_search:hover,
.hotel_search:focus {
  background-color: #669ec0;
}

.hotel_search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/*Стили для внутренней страницы*/

.inner_page {

}
